
<ion-header-bar class="bar-assertive">
	<span class="title">注册</span>
</ion-header-bar>

<ion-content class="register">
	<ion-list>
		<ion-item class="item item-input item-floating-label">
			<span class="input-label"><i class="icon ion-email assertive"></i></span>
    		<input type="text" placeholder="邮箱" ng-model="data.email">
		</ion-item>

		<ion-item class="item item-input item-floating-label">
			<span class="input-label"><i class="icon ion-android-phone-portrait assertive"></i></span>
    		<input type="text" placeholder="手机号" ng-model="data.phone">
		</ion-item>

		<ion-item class="item item-input item-floating-label">
			<span class="input-label"><i class="icon ion-android-contact assertive"></i></span>
    		<input type="text" placeholder="匿名" ng-model="data.nickname">
		</ion-item>

		<ion-item class="item item-input item-floating-label">
			<span class="input-label"><i class="icon ion-locked assertive"></i></span>
    		<input type="password" placeholder="密码" ng-model="data.pwd">
		</ion-item>

		<ion-item class="item item-input item-floating-label">
			<span class="input-label"><i class="icon ion-ios-checkmark-empty assertive"></i></span>
    		<input type="password" placeholder="确认密码" ng-model="data.cpwd">
		</ion-item>
	</ion-list>

 
	<div class="padding-horizontal padding-top">
		<button class="button button-assertive button-block" ng-click="register()">注册</button>
		<div ui-sref="login" class="button button-outline button-block button-assertive">登录</div>
		<button class="button button-assertive button-block" ng-click="getSMSCode()">验证码测试</button>
	</div>

	
	
</ion-content>