<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>ionic</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/icons/img_79.ico">
	<link rel="stylesheet" type="text/css" href="/css/ionic.min.css" />

</head>
<body>
	<div ui-view></div>
	<base href="/"/>
	<!-- 服务器中的内容都不能写在WEB文件中 -->
	<script type="text/javascript" src="/js/ionic.bundle.min.js"></script>
	<script type="text/javascript" src="/js/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="/module/module.js"></script>
	<script type="text/javascript" src="/config/config.js"></script>
	<script type="text/javascript" src="/routes/routes.js"></script>
	<script type="text/javascript" src="/service/utils.js"></script>
	<script type="text/javascript" src="/service/api.js"></script>
	<script type="text/javascript" src="/controller/rootController.js"></script>
</body>
</html>